@use "../../styles/colors.scss";

.item {
    display: flex;
    align-items: flex-start;
}

.order {
    display: block;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(black, 0.25);
    padding: 20px;
    margin-bottom: 20px;
    flex: 1 0 auto;

    .orderHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: center;
    }

    .orderInfo {
        margin-top: 24px;
    }
}

.reuseOrder {
    font-size: 32px;
    margin-left: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.ordersList {
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    margin-bottom: 20px;
}

.greenText {
    color: colors.$green-color;
    font-weight: bold;
}

@media (max-width: 880px) {
    .item {
        flex-direction: column;
        align-items: center;
    }

    .order {
        width: 100%;
    }

    .orderHeader {
        flex-wrap: wrap;
    }

    .reuseOrder {
        display: none;
    }
}

@media (max-width: 460px) {
    .orderHeader {
        display: block !important;
    }

    .ordersList {
        display: block;
    }
}
