@font-face {
    font-family: "DIN Next";
    font-style: normal;
    font-weight: normal;
    src: url("../../public/fonts/DINNextCYR-Regular.woff") format("woff");
    src: url("../../public/fonts/DINNextCYR-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "DIN Next";
    font-style: normal;
    font-weight: bold;
    src: url("../../public/fonts/DINNextCYR-Bold.woff") format("woff");
    src: url("../../public/fonts/DINNextCYR-Bold.woff2") format("woff2");
}
