.resultBlock {
    width: 100%;
}

.resultTitle {
    margin: 0;
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 30px;
    padding: 0 30px;
}

.productsList {
    display: flex;
    width: 100%;
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
    justify-content: center;
    overflow-x: auto;
    overflow-y: hidden;

    &::-webkit-scrollbar {
        display: none;
    }

    .productItem {
        padding: 1em 0;
        margin: 0 1em;
        max-width: 320px;
        width: calc((100% - 2em * 2) / 3);
        flex: 0 0 auto;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

@media (max-width: 800px) {
    .productsList {
        display: block;
    }

    .productItem {
        width: 100% !important;
        margin: 0 auto 20px !important;
        padding: 0 !important;

        &:last-child {
            margin-bottom: 0 !important;
        }
    }
}
