@import "../../styles/colors.scss";
// @import "../../styles/button.scss";

.container {
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    padding: 30px;
}

.titleBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;

    .productName {
        font-size: 1.2em;
        margin: 0;
        margin-right: 20px;
    }

    .price {
        color: $green-color;
        font-weight: bold;
        font-size: 1.2em;
    }
}

.socials {
    display: flex;
    align-items: center;

    .socialLink {
        display: block;
        margin-right: 8px;
        border-radius: 50%;

        &:last-child {
            margin-right: 0;
        }
    }
}

.quantity {
    display: flex;
    align-items: center;

    .quantityText {
        text-transform: uppercase;
        margin-right: 12px;
    }
}

.greenButton {
    margin-top: 20px;
    width: 100%;
}

.storageCountsBlock {
    margin-top: 12px;

    .storageCountsTitle {
        margin-bottom: 8px;
    }

    .storageCountsList {
        margin: 0;

        .storageCountsItem {
            span {
                font-weight: bold;
            }

            &:not(:last-child) {
                margin-bottom: 2px;
            }
        }
    }
}

@media (max-width: 560px) {
    .titleBlock {
        display: block;

        .productName {
            margin-bottom: 20px;
            margin-right: 0;
        }
    }
}

@media (max-width: 400px) {
    .container,
    .price {
        text-align: center !important;
    }

    .socials {
        justify-content: center;
    }

    .quantity {
        flex-direction: column;

        .quantityText {
            margin-bottom: 10px;
            margin-right: 0;
        }
    }
}
