@import "../../styles/colors.scss";

.radioWrapper {
    display: flex;
    align-items: center;

    .radio {
        opacity: 0;
        visibility: hidden;
        width: 0;
        height: 0;

        &:not(:checked) + .radioLabel:after {
            opacity: 0;
        }

        &:checked + .radioLabel:after {
            opacity: 1;
        }
    }

    .radioLabel {
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
        line-height: 1em;

        &:before {
            content: "";
            margin-right: 12px;
            width: 18px;
            height: 18px;
            border: 1px solid #aaaaaa;
            border-radius: 2px;
            background-color: #ffffff;
        }

        &::after {
            content: "";
            position: absolute;
            left: 3px;
            top: 4px;
            width: 10px;
            height: 5px;
            border-radius: 1px;
            border-left: 4px solid #cccccc;
            border-bottom: 4px solid #cccccc;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
    }
}
