@import "../../styles/colors.scss";

.textarea {
    display: block;
    padding: 12px 15px;
    border: 1px solid rgba($color: #000000, $alpha: 0.25);
    border-radius: 2px;
    width: 100%;
    height: 8em;
    resize: none;

    transition: 0.3s;

    &:focus {
        outline: none;
        border: 1px solid $green-color;
    }

    &::placeholder {
        color: rgba($color: #000000, $alpha: 0.25);
        opacity: 1;
    }
}

.errorTextarea {
    border-color: $green-color;
    background-color: rgba($color: $green-color, $alpha: 0.1);
}
