@import "../../styles/colors.scss";

.wrapper {
    border-bottom: 1px solid #ccc;
    width: 100%;
    padding: 20px 0;
    background-color: white;
}

.list {
    margin: 0;
    display: flex;

    .item,
    .itemSelected {
        margin-right: 40px;
        color: rgba($color: #000000, $alpha: 0.7);

        &:hover {
            color: $green-color;
        }
    }

    .itemSelected {
        color: $green-color;
    }
}

@media (max-width: 1000px) {
    .list {
        display: block;

        li {
            margin: 0;
            border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);

            &:last-child {
                border-bottom: none;
            }

            a {
                display: block;
                padding: 1em 0;
            }
        }

        .item,
        .itemSelected {
            margin-right: 0;
        }
    }
}
