.InfoEnter {
    opacity: 0;
    transform: translateX(30%);
}

.InfoEnterActive {
    opacity: 1;
    transform: translateX(0%);
    transition: 300ms;
}

.InfoExit {
    opacity: 1;
    transform: translateX(0%);
}

.InfoExitActive {
    opacity: 0;
    transform: translateX(-30%);
    transition: 300ms;
}

.ImageEnter {
    opacity: 0;
}

.ImageEnterActive {
    opacity: 1;
    transition: 300ms;
}

.ImageExit {
    opacity: 1;
}

.ImageExitActive {
    opacity: 0;
    transition: 300ms;
}
