@import "../../styles/colors.scss";

.errorsList {
    padding: 20px 30px 20px 26px;
    border-left: 4px solid $green-color;
    background-color: rgba($color: $green-color, $alpha: 0.5);
    color: rgba($color: black, $alpha: 0.6);
    text-align: left;
    font-weight: bold;

    li {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }

        &::before {
            content: "-";
            margin-right: 10px;
        }
    }
}
