@import "../colors.scss";

.quizHeader {
    background-color: black;

    .quizHeaderText {
        font-size: 1.6em;
        text-align: center;
        font-weight: normal;
        color: white;
        padding: 20px 40px;
        background-image: url("../../../public/images/quiz/quizBackground.png");
        background-position: 50% 50%;
        background-size: cover;
    }
}

.quizNavbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

    .quizNavbarItem,
    .quizNavbarItemPrev,
    .quizNavbarItemCurrent {
        font-size: 1.1em;
        font-weight: bold;
    }

    .quizNavbarItemPrev {
        color: rgba($color: black, $alpha: 0.25);
    }

    .quizNavbarItemCurrent {
        color: $green-color;
    }

    .quizNavbarLine {
        margin: 0 20px;
        flex-grow: 1;
        border-bottom: 1px solid rgba($color: $green-color, $alpha: 0.4);
    }
}

@media (max-width: 760px) {
    .quizNavbar {
        flex-direction: column;

        .quizNavbarLine {
            margin: 10px 0;
            width: 100%;
            max-width: 250px;
        }
    }
}
