.form > * {
    display: block;
    width: 100%;

    &:not(:last-child) {
        margin-bottom: 16px;
    }
}

.preloader,
.preloaderHidden {
    display: inline;
    width: auto;
    transition: 0.3s;

    & * {
        transition: 0.3s;
    }
}

.preloaderHidden {
    width: 0;
    opacity: 0;

    & * {
        width: 0;
        margin: 0;
    }
}
